/docs/*/references/
/docs/*/output/
/jupyter/images/
*.ipynb_checkpoints*
*/logs/
*__pycache__*
/python/*/*checkpoints*
/python/*/original/.git*
/python/attngan/DAMSMencoders/
/python/attngan/data/
/python/attngan/eval/
/python/attngan/models/
/python/*/datasets/
/python/datasets/*/attributes*
/python/datasets/*/buffer/
/python/datasets/*/images/
/python/datasets/*/training/
/python/eval/resolution/dcgan/
/python/eval/resolution/srgan/
/python/*/*output*
/python/images/
/python/training/
/python/__pycache__/
/python/*/__pycache__/
/python/srgan/original/output/
/python/srgan/logs/
/python/sparse_attention/output/
/source/datasets
/source/animations/glass_*/
*.vscode/
