/docs/*/references/
/docs/*/output/
/jupyter/images/
*.ipynb_checkpoints*
/python/*/checkpoints*
/python/evaluation/dcgan/
/python/evaluation/srgan/
/python/*/output*
/python/images/
/python/training/
/python/__pycache__/
/python/*/__pycache__/
/python/srgan/original/output/
/python/srgan/logs/
/source/datasets
